[submodule "xmlstore"]
	path = xmlstore
	url = https://github.com/BoldingBruggeman/xmlstore.git
[submodule "xmlplot"]
	path = xmlplot
	url = https://github.com/BoldingBruggeman/xmlplot.git
[submodule "pyncview"]
	path = pyncview
	url = https://github.com/BoldingBruggeman/pyncview.git
[submodule "editscenario"]
	path = editscenario
	url = https://github.com/BoldingBruggeman/editscenario.git
